.cycles{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    align-items: center; 
    justify-content: center;   
}

.cyclesDots{
    display: flex;
    gap: 0.4rem;
}

.cyclesDot{
    width: 2rem;
    height: 2rem;
    background-color: var(--primary);
    border-radius: 50%;
}

.focus{
    background: var(--warning);
}

.shortBreak{
background: var(--primary);
}

.longBreak{
    background: var(--info);
}